name: Pipeline
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v2
      #Run JDK configuration
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: "17"
          distribution: "adopt"
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Permission Gradlew
        run: chmod +x ./gradlew
      - name: Build
        run: ./gradlew build -x test
      - name: Upload target for next job
        uses: actions/upload-artifact@v1
        with:
          name: build
          path: build
  tests:
    name: Test
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: "17"
          distribution: "adopt"
      - uses: actions/checkout@v2
      - name: Run all tests
        run: ./gradlew test -i
  sonarcloud:
    name: Sonar Cloud
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v2
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        with:
          args: >
            -Dsonar.organization=lucasreis10
            -Dsonar.projectKey=lucasreis10_projeto-base
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}